@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --orange:#ff9500;
    --white-color:#fff;
    --black-color:#333;
    --light-color:rgba(0,0,0,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:var(--white-color);
}

html::-webkit-scrollbar-thumb{
    background:var(--black-color);
    border-radius: 5rem;
}

body{
    background-image: url(img/01596a00-a1ca-403b-bd33-07026325f4ce.jpg);
    background-size:cover ;
    background-repeat:no-repeat ;
}





  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 5px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:darkgoldenrod;
    
  }












  

.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
}

.home .content{
    flex:1 1 40rem;
}

.home .image{
    flex:1 1 40rem;
    text-align: center;
}

.home .image img{
    width:30vw;
}


.home .content h3{
    color:var(--black-color);
    font-size: 8rem;
    text-transform: uppercase;
}
span{color: rgb(115, 184, 11);
    font-size: 80px;
}


.footer .footer-container .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid var(--light-color);
    color:var(--black-color);
    text-align: center;
}

.footer .footer-container .credit span{
    color:var(--orange);
}